body, div, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p, table, hr, main, form {
    margin: 0;
    padding: 0;
}

body {
    font:0.24rem  'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
}

ul, ol {
    list-style: none;
}

h1, h2, h3, h4, h5, h6, b, strong {
    font-weight: 500;
}

i, em {
    font-style: normal;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
img {
    vertical-align: top;
    border: none;
}
img, input, select, textarea {
    vertical-align: middle;
    outline: none;
}
a {
    text-decoration: none;
    color: #333;
}
.clear {
    zoom: 1;
}
.clear:after {
    display: block;
    content: "";
    clear: both;
}
/*以上为重置样式*/
body{
    background: #f3f3f3;
}
.content .article-title{
    font-size: 46rem;
}
.public .content{
    margin: 0.3rem 0.36rem 0 0.36rem;
    padding: 0.28rem 0.56rem 0.24rem 0.56rem;
    border-radius: 0.1rem;
    background: #fff;
    line-height: 1;
    box-shadow: 1px 1px 8px rgba(0,0,0,.1);
    color: #797979;
}
.public .content .con_title .left{
    color: #1dd1b8;
    font-size: 0.36rem;
    line-height: 0.66rem;
}
.public .content .con_title .right{
    float: right;
    padding: 0.2rem;
    border: 1px solid #1dd1b8;
    border-radius: 0.1rem;
    color: #1dd1b8;
    font-size: 0.24rem;
}
.public .content .que_top{
    padding: 0.28rem 0 0.36rem 0;
    border-bottom: 1px solid #dcdcdc;
}
.public .content .que_top .question{
    line-height: 0.5rem;
    font-size: 0.26rem;
    color: #3d3d3d;
}
.public .content  .explain{
    font-size: 0.22rem;
    line-height: 0.4rem;
}
.public .content .que_bottom{
    border-bottom: 1px solid #dcdcdc;
    padding: 0.36rem 0 0.2rem 0;
}
.public .content .que_bottom .list{
    margin-top: 0.32rem;
}
.public .content .que_bottom .list li{
    margin-bottom: 0.12rem;
    line-height: 0.48rem;
}
.public .content .que_bottom .list li .circle{
    display: inline-block;
    margin-right: 0.18rem;
    width: 0.12rem;
    height: 0.12rem;
    border-radius: 50%;
    background: #1dd1b8;
}
.public .content .number{
    margin-top: 0.4rem;
    text-align: center;
    font-size: 0.22rem;
    color: #ff5389;
}
.public .bottom{
    margin: 0.3rem 0.42rem 0.56rem 0.42rem;
    color: #afafaf;
    font-size: 0.18rem;
    line-height: 0.32rem;
}
#question .content .que_bottom{
    border-bottom: none;
}
#conclusion .middle{
    margin: 0.4rem 0.8rem 0.5rem 0.8rem;
    text-align: center;
}
#conclusion .middle>p{

    color: #797979;
    font-size: 0.2rem;
    margin-bottom: 0.2rem;
}
#conclusion .middle img{
    width: 75%;
}
#question .content{
    position: relative;
    min-height: 9rem;
}
#question .con_title .left{
    display: inline-block;
    padding-left: 0.56rem;
    color: #3b3b3b;
    font-weight: 700;
    background: url("../imgs/1.png")  no-repeat 0 0.12rem ;
    background-size: 0.38rem 0.39rem ;
}
#question .que_top .explain{
    margin-top: 0.1rem;
    color: #a0a0a0;
}
#question .que_top .explain .mi{
    color:#ff5389 ;
}
#question .que_bottom{
    padding-top: 0.36rem;
}
#question .que_bottom h4{
    font-size: 0.26rem;
    color: #3b3b3b;
    line-height: 0.6rem;
}
#question .que_bottom label{
    display: block;
    padding-left: 0.5rem;
    line-height: 0.6rem;
  /*  background: url("../imgs/not.png") no-repeat 0 0.14rem;
    background-size: 0.28rem 0.28rem;*/
}
#question .que_bottom input[type="radio"]+label{
    background: url("../imgs/not.png") no-repeat 0 0.14rem;
    background-size: 0.28rem 0.28rem;
}
#question .que_bottom input[type="radio"]+label.on{
    background: url("../imgs/on.png") no-repeat 0 0.14rem;
    background-size: 0.28rem 0.28rem;
}
#question .que_bottom input[type="checkbox"]+label{
    background: url("../imgs/checknot.png") no-repeat 0 0.14rem;
    background-size: 0.28rem 0.28rem;
}
#question .que_bottom input[type="checkbox"]+label.on{
    background: url("../imgs/checkon.png") no-repeat 0 0.14rem;
    background-size: 0.28rem 0.28rem;
}
#question .que_bottom input[type="radio"],#question .que_bottom input[type="checkbox"]{
    display: none;
}
#question .content .number{
    position: absolute;
    left: 50%;
    margin-left: -0.94rem;
    bottom: 0.3rem;
    box-sizing: border-box;
  /* width: 93rem;*/


}
#question .content .number p{
    padding: 0 auto;
}

#question .bottom{
    margin: 0.4rem 0.8rem 0.72rem 0.8rem;
}
#question .bottom .wrap{
    float: left;
    width: 50%;


}
#question .bottom .btn{
    display: block;
    text-align: center;
    line-height: 0.72rem;
    font-size: 0.28rem;
    border-radius: 0.36rem;
    box-shadow: 1px 1px 10px rgba(29,209,184,.2);
}

#question .bottom  .back{
    background: #fff;
    border: 1px solid #1dd1b8;
    color:#1dd1b8 ;
    margin: 0 0.2rem;
}
#question .bottom  .goon {
    background: #1dd1b8;
    color: #fff;
    margin: 0 0.2rem;
}